apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-mongodb-operator
  labels:
    app.kubernetes.io/instance: mongodbs.operator.ibm.com
    app.kubernetes.io/managed-by: mongodbs.operator.ibm.com
    app.kubernetes.io/name: mongodbs.operator.ibm.com
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-mongodb-operator
  template:
    metadata:
      labels:
        name: ibm-mongodb-operator
        app.kubernetes.io/instance: mongodbs.operator.ibm.com
        app.kubernetes.io/managed-by: mongodbs.operator.ibm.com
        app.kubernetes.io/name: mongodbs.operator.ibm.com
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productVersion: "3.4.0"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-mongodb-operator
      hostNetwork: false
      hostPID: false
      hostIPC: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64
                  - ppc64le
                  - s390x
      containers:
        - name: ibm-mongodb-operator
          resources:
            limits:
              cpu: 40m
              memory: 200Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          # Replace this with the built image name
          image: quay.io/opencloudio/ibm-mongodb-operator@sha256:db9b991c292bf0d8fd2ee8a17fc0ea1138a40e9e3145b358b483f8f1ec2cdd70
          command:
          - ibm-mongodb-operator
          imagePullPolicy: Always
          livenessProbe:
            exec:
              command:
              - sh
              - -c
              - exec echo mongodb-operator still running
            initialDelaySeconds: 30
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
              - sh
              - -c
              - exec echo echo start mongodb-operator
            initialDelaySeconds: 10
            timeoutSeconds: 2
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-mongodb-operator"
            - name: INIT_MONGODB_IMAGE
              value: quay.io/opencloudio/ibm-mongodb-install@sha256:34543370cc9fb7095229966376f96df30de067b0b97cbcc6b19017df02339c2f
            - name: MONGODB_IMAGE
              value: quay.io/opencloudio/ibm-mongodb@sha256:2c82b4d1025583a5c4c9263b48cd0138b294c33818aaf45b56984bff937080c9
            - name: EXPORTER_MONGODB_IMAGE
              value: quay.io/opencloudio/ibm-mongodb-exporter@sha256:ea69cc9a41f57d82f4bbaa546e73c09041ad8e44072bba04e188aaa75ac19f06
