apiVersion: mongodb.operator.ibm.com/v1alpha1
kind: MongoDB
metadata:
  name: mongodb-sample
spec:
  replicas: 3
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 1000m
      memory: 1Gi
